@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
:root {
  --blue: #445ef2;
  --primary: #8036e7;
  --lite-gray: #988e9f;
  --web-background: #181325;
  --about-background: #14121c;
  --contact-background: #0e0d10;
  --ff-size-4rem: 4rem;
  --ff-size-2rem: 2rem;
  --ff-size-3rem: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
}

/* utility classes */
.color-purple {
  color: var(--primary) !important;
  margin-left: 1rem;
}
.color-white {
  background-color: white;
}
.ff-satcify {
  font-family: "Satisfy", cursive;
}
.ff-Robot {
  font-family: "Roboto Condensed";
}
.ff-inter {
  font-family: "Inter", sans-serif;
}
.flex {
  display: flex !important;
}
.justify-center {
  justify-content: center !important;
}
.align-center {
  align-items: center !important;
}
.align-start {
  align-items: start !important;
}

.m-100vh {
  min-height: 100vh;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.opa-1 {
  opacity: 1 !important;
}
.w-100 {
  width: 100% !important;
}
.align-self-center {
  align-self: center !important;
}
.margin-left-auto {
  margin-left: auto !important;
}
.margin-right-auto {
  margin-right: auto !important ;
}
.gap-2 {
  gap: 2rem;
}
.hidden {
  display: none;
}

main {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.navbar-box {
  position: fixed;
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  padding: 3rem 2rem;
  z-index: 99;
}
.heading {
  font-size: 4rem;
  color: white;
  margin-inline: 0.5rem;
}
.lessthan {
  color: var(--blue);
  font-size: 2.5rem;
  font-family: 400;
}
.navbar__options {
  justify-content: space-between;
  gap: 3rem;
  color: white;
  font-size: 2rem;
}
.navbar__option {
  list-style: none;
  height: inherit;
  cursor: pointer;
}
.navbar__option span {
  margin-left: 0.5rem;
  color: var(--blue);
}
.navbar__option:hover {
  color: hsla(0, 0%, 100%, 0.5);
}

.hamburger-btn {
  display: none;
  width: 5rem;
  height: 3rem;
  background-color: var(--web-background);
  border: 0.5px solid #181325;
  border-radius: 2px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  z-index: 1500;
}
.hamburger-btn span {
  display: block;
  width: 2.5rem;
  height: 2px;
  background-color: var(--blue);
  margin: 0 auto;
}
.hamburger-btn span:nth-child(2) {
  margin: 7px auto;
}

.hamburger-btn.active span:first-child {
  transform: rotate(135deg) translate(6px, -6px);
}
.hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}
.hamburger-btn.active span:last-child {
  transform: rotate(-135deg) translate(6px, 6px);
}
.background-main {
  display: none;
  position: fixed;
  width: 2rem;
  height: 2rem;
  background-color: var(--about-background);
  right: 3.5rem;
  top: 2rem;
  border-radius: 50%;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.1s;
}
.background-main.active {
  transform: scale(200);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.1s;
}
.navbar__center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 3rem;
  width: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1003;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transition-delay: 0.8s; */
}
.navbar__center-option {
  list-style: none;
  color: white;
  font-size: var(--ff-size-3rem);
  transform: translateX(-100%);
  transition-delay: 0.8s;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
}
.navbar__link {
  text-decoration: none;
  display: inline-block;
  width: 10rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--web-background) 50%
  );
  background-size: 220%;
  color: white;
  transition: all 0.5s;
}
.navbar__link:hover {
  background-position: 100%;
  color: var(--primary);
}
.navbar__center.active {
  width: 100%;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.8s;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar__center-option.active {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateX(0%);
}

.Start__section {
  background-image: url(/src/assests/bg-start.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 7rem 3rem;
  width: 100%;
  height: 100vh;
  min-height: 63rem;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
.row {
  font-family: "Roboto Condensed";
  padding-inline: 1rem;
  flex: initial !important;
  flex-wrap: nowrap;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-direction: column;
}
.col-7 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.intro__article {
  margin: 0 auto;
  width: 78%;
  height: fit-content;
}
.timeline {
  height: 300%;
  left: -10px;
  position: absolute;
  top: 11px;
  width: 1px;
  z-index: 9;
  background-color: var(--primary);
}
.ellipse {
  height: 1rem;
  width: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  transform: translate(-4.5px, -6px);
  position: relative;
  z-index: 9;
}
.ellipse::before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--about-background);
}
.scroll-box {
  position: absolute;
  top: 300px;
  z-index: 3;
  height: 4rem;
  text-decoration: none;
  margin-left: -7px;
  transition: transform 0.3s;
}
.mouse-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.scoll {
  position: absolute;
  font-family: "Roboto Condensed";
  transform: rotate(-90deg) translate(-25px, -18px);
  background-color: #0e0d10b6;
  z-index: 3;
  font-size: 1.6rem;
}
.scoll:active,
.scoll:link {
  color: var(--primary);
}
.scroll-box:hover {
  transform: scale3d(1.1, 1.1, 1);
  margin-left: -7px;
}

.block-reveal {
  align-items: center;
  display: flex;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.start {
  display: block;
  font-family: "Roboto Condensed";
  color: #727272;
  font-size: 1.7rem;
  opacity: 0;
}
.intro__hi {
  display: inline-block;
  font-family: "Roboto Condensed";
  color: white;
  font-size: var(--ff-size-4rem);
  opacity: 0;
  margin-top: 2rem;
}
.intro__friend {
  display: inline-block;
  color: white;
  font-size: var(--ff-size-4rem);
  opacity: 0;
  margin-top: 1rem;
}
.into__letme {
  opacity: 0;
  /* display: inline-block; */
  margin-top: 3rem;
  font-size: var(--ff-size-3rem);
  color: var(--lite-gray);
}

.block-reveal--active .block-reveal__text {
  animation: block-reveal-text 0s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}
.block-reveal--active .block-reveal__block {
  animation: block-rev-block 0.8s;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
.block-reveal__block {
  background: var(--primary);
  content: "";
  height: 100%;
  position: absolute;
  transform: translateX(calc(100% + 1px));
  width: 100%;
  will-change: transform;
  z-index: 10;
}

/* project Section */
.project__section {
  background-image: url(/src/assests/bg-project.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200vh;
  padding: 0 3rem;
  overflow: hidden;
  z-index: 10;
  position: relative;
  min-height: 105rem;
}
.timeline.alt {
  top: 0;
  height: 2000%;
}
.ellipse.alt {
  top: 4rem;
}
.Poject-tag {
  display: block;
  font-family: "Roboto Condensed";
  color: #727272;
  font-size: 1.7rem;
  margin-top: 3rem;
}
.project {
  margin-top: 1rem;
  font-size: var(--ff-size-3rem);
  color: var(--lite-gray);
}
.grid {
  display: grid;
  grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
  grid-template-rows: repeat(4, fit-content);
  row-gap: 3rem;
  grid-template-areas:
    ". project-1 . ."
    ". . project-2 ."
    ". project-3 . ."
    ". . project-4 .";
  width: 100%;
  margin-top: 1rem;
  align-self: flex-start;
}
.project-1 {
  grid-area: project-1;
}
.project-2 {
  grid-area: project-2;
}
.project-3 {
  grid-area: project-3;
}
.project-4 {
  grid-area: project-4;
}
.box {
  z-index: 10;
  position: relative;
  width: 54rem;
  height: 22rem;
  transition: transform 0.1s ease;
  will-change: transform;
  display: flex;
}
.img-box {
  width: 100%;
  height: 100%;
  margin-left: 8rem;
  filter: brightness(50%);
}
.img {
  width: 100%;
  height: 100%;
}
.project-info {
  position: absolute;
  bottom: 3rem;
  width: 12rem;
}
.project-title {
  font-size: 2rem;
  color: #fff;
  z-index: 22;
}
.project-line {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 1rem 0;
}
.project-00 {
  font-size: 2rem;
  color: var(--lite-gray);
}
.project-arrow {
  color: white;
  font-weight: 700;
  transition: transform 0.4s;
}
.box:hover {
  cursor: pointer;
}
.box:hover .img-box {
  transform: translateZ(12px);
  filter: initial;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}
.box:hover .project-arrow {
  transform: translateX(1rem);
}

.about__section {
  height: 100vh;
  width: 100%;
  background-color: var(--about-background);
}
.contact__section {
  height: 100vh;
  width: 100%;
  background-color: var(--contact-background);
}
@keyframes block-rev-block {
  0% {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(calc(100% + 1px));
  }
}

@keyframes block-reveal-text {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  :root {
    --ff-size-4rem: 3.5rem;
    --ff-size-2rem: 1.5rem;
    --ff-size-3rem: 2.5rem;
  }
}
@media (max-width: 860px) {
  :root {
    --ff-size-4rem: 3rem;
    --ff-size-2rem: 1rem;
    --ff-size-3rem: 2rem;
  }
  .navbar__options {
    display: none !important;
  }
  .hamburger-btn {
    display: initial;
  }
  .background-main {
    display: block;
  }
  .Start__section {
    background-position: center center;
  }
  .grid {
    grid-template-columns: 0.1fr 0.1fr 1fr;
    grid-template-areas:
      ". .project-1  "
      ". . project-2 "
      ". . project-3  "
      ". . project-4 ";
    place-items: center;
  }
  .box {
    width: 47rem;
    height: 19rem;
    /* transform: none !important; */
  }
}
@media (max-width: 620px) {
  .Start__section {
    padding: 7rem 1rem;
  }
  .project__section {
    padding: 0rem 1rem;
    height: 100vh;
  }
  .row {
    padding-inline: 0;
    /* flex-wrap: wrap; */
  }
  .grid {
    margin-top: 7rem;
    row-gap: 5rem;
  }
  .box {
    width: 30rem;
    height: 17rem;
    /* transform: none !important; */
  }
}
