@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --blue: rgb(68, 94, 242);
  --primary: #8036e7;
  --lite-gray: #988e9f;
  --web-background: #181325;
  --about-background: #14121c;
  --contact-background: #0e0d10;
  --ff-size-4rem: 4rem;
  --ff-size-2rem: 2rem;
  --ff-size-3rem: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
#root {
  min-height: 100vh;
  width: 100%;
  transition: all 0.3s;
}

/* utility classes */
.color-purple {
  color: var(--primary) !important;
}
.color-white {
  background-color: white;
}
.ff-satcify {
  font-family: "Satisfy", cursive;
}
.ff-Robot {
  font-family: "Roboto Condensed";
}
.ff-inter {
  font-family: "Inter", sans-serif;
}
.flex {
  display: flex !important;
}
.justify-center {
  justify-content: center !important;
}
.align-center {
  align-items: center !important;
}
.align-start {
  align-items: start !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.m-100vh {
  min-height: 100vh;
}
.h-90 {
  height: 90%;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.opa-1 {
  opacity: 1 !important;
}
.w-100 {
  width: 100% !important;
}

.align-self-center {
  align-self: center !important;
}
.margin-left-auto {
  margin-left: auto !important;
}
.margin-right-auto {
  margin-right: auto !important ;
}
.gap-2 {
  gap: 2rem;
}
.hidden {
  display: none;
}
.ff-size-2rem {
  font-size: var(--ff-size-3rem);
}

.portfolio__main {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.navbar-box {
  position: fixed;
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  padding: 3rem 2rem;
  z-index: 99;
}
.heading {
  font-size: 4rem;
  color: white;
  margin-inline: 0.5rem;
}
.lessthan {
  color: var(--blue);
  font-size: 2.5rem;
  font-family: 400;
}
.navbar__options {
  justify-content: space-between;
  gap: 3rem;
  color: white;
  font-size: 2rem;
}
.navbar__option {
  list-style: none;
  height: inherit;
  cursor: pointer;
}
.navbar__option span {
  margin-left: 0.5rem;
  color: var(--blue);
}
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: hsla(0, 0%, 100%, 0.5);
}
.hamburger-btn {
  display: none;
  width: 5rem;
  height: 3rem;
  background-color: var(--web-background);
  border: 0.5px solid #181325;
  border-radius: 2px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  z-index: 1500;
}
.hamburger-btn span {
  display: block;
  width: 2.5rem;
  height: 2px;
  background-color: var(--blue);
  margin: 0 auto;
}
.hamburger-btn span:nth-child(2) {
  margin: 7px auto;
}

.hamburger-btn.active span:first-child {
  transform: rotate(135deg) translate(6px, -6px);
}
.hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}
.hamburger-btn.active span:last-child {
  transform: rotate(-135deg) translate(6px, 6px);
}
.background-main {
  display: none;
  position: fixed;
  width: 2rem;
  height: 2rem;
  background-color: var(--about-background);
  right: 3.5rem;
  top: 2rem;
  border-radius: 50%;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.1s;
}
.background-main.active {
  transform: scale(200);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.1s;
}
.navbar__center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 3rem;
  width: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1003;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transition-delay: 0.8s; */
}
.navbar__center-option {
  list-style: none;
  color: white;
  font-size: 3rem;
  transform: translateX(-100%);
  transition-delay: 0.8s;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
}
.navbar__link {
  text-decoration: none;
  display: inline-block;
  width: 10rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--web-background) 50%
  );
  background-size: 220%;
  color: white;
  transition: all 0.5s;
}
.navbar__link:hover {
  background-position: 100%;
  color: var(--primary);
}
.navbar__center.active {
  width: 100%;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.8s;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar__center-option.active {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateX(0%);
}

.Start__section {
  background-image: url(../public/assets/bg-start.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 7rem 3rem;
  width: 100%;
  height: 100vh;
  min-height: 63rem;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
.row {
  font-family: "Roboto Condensed";
  padding-inline: 1rem;
  flex: initial !important;
  flex-wrap: nowrap;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-direction: column;
  max-height: min-content;
}
.col-7 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.intro__article {
  margin: 0 auto;
  width: 78%;
  height: fit-content;
}
.timeline {
  height: 300%;
  left: -10px;
  position: absolute;
  top: 11px;
  width: 1px;
  z-index: 9;
  background-color: var(--primary);
}
.ellipse {
  height: 1rem;
  width: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  transform: translate(-4.5px, -6px);
  position: relative;
  z-index: 9;
}
.ellipse::before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--about-background);
}
.scroll-box {
  position: absolute;
  top: 300px;
  z-index: 3;
  height: 4rem;
  text-decoration: none;
  margin-left: -7px;
  transition: transform 0.3s;
}
.mouse-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.scroll {
  position: absolute;
  font-family: "Roboto Condensed";
  transform: rotate(-90deg) translate(-25px, -18px);
  background-color: #0e0d10b6;
  z-index: 3;
  font-size: 1.6rem;
}
.scroll:active,
.scroll:link {
  color: var(--primary);
}
.scroll-box:hover {
  transform: scale3d(1.1, 1.1, 1);
  margin-left: -7px;
}

.block-reveal {
  /* align-items: center; */
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.start {
  display: block;
  font-family: "Roboto Condensed";
  color: #727272;
  font-size: 1.7rem;
  opacity: 0;
}
.intro__hi {
  display: inline-block;
  font-family: "Roboto Condensed";
  color: white;
  font-size: var(--ff-size-4rem);
  opacity: 0;
  margin-top: 2rem;
  margin-right: 1rem;
}
.intro__friend {
  display: inline-block;
  color: white;
  font-size: var(--ff-size-4rem);
  opacity: 0;
  margin-top: 1rem;
}
.into__letme {
  opacity: 0;
  display: inline-block;
  font-size: var(--ff-size-3rem);
  color: var(--lite-gray);
}

.block-reveal--active .block-reveal__text {
  animation: block-reveal-text 0s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}
.block-reveal--active .block-reveal__block {
  animation: block-rev-block 0.8s;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
.block-reveal--active .block-reveal__block-1 {
  animation: block-rev-block-2 0.8s;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
.block-reveal--active-1 .block-reveal__block-2 {
  animation: block-rev-block 2s;
  animation-timing-function: cubic-bezier(0.21, 0.62, 0.6, 0.78);
  animation-delay: 0.6s;
}
.block-reveal__block {
  background: var(--primary);
  content: "";
  height: 100%;
  position: absolute;
  transform: translateX(calc(100% + 1px));
  width: 100%;
  will-change: transform;
  z-index: 100;
}
.block-reveal__block-1 {
  background: white;
  content: "";
  height: 100%;
  position: absolute;
  transform: translateX(calc(100% + 1px));
  width: 100%;
  will-change: transform;
  z-index: 100;
}
.block-reveal__block-2 {
  background-image: linear-gradient(
    90deg,
    var(--web-background) 0%,
    var(--web-background) 80%,
    var(--primary) 20%,
    var(--primary) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  transform: translateX(calc(100% + 1px));
  width: 250%;
  will-change: transform;
  z-index: 100;
}

.project__section {
  background-image: url(../public/assets/bg-project.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0 3rem;
  overflow: hidden;
  z-index: 10;
  position: relative;
  min-height: 100vh;
  max-height: auto;
}
.timeline.alt {
  top: 0;
  height: 20000%;
}
.ellipse.alt {
  top: 4rem;
}
.Project-tag {
  display: block;
  font-family: "Roboto Condensed";
  color: #727272;
  font-size: 1.7rem;
  margin-top: 3rem;
}
.project {
  margin-top: 1rem;
  font-size: var(--ff-size-3rem);
  color: var(--lite-gray);
}
.grid {
  display: grid;
  grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
  /* grid-template-rows: repeat(4, fit-content); */
  row-gap: 3rem;
  grid-template-areas:
    ". project-0 . ."
    ". . project-1 ."
    ". project-2 . ."
    ". . project-3 ."
    ". project-4 . .";

  width: 100%;
  margin-top: 1rem;
  margin-bottom: 4rem;
  align-self: flex-start;
}
.project-0 {
  grid-area: project-0;
}
.project-1 {
  grid-area: project-1;
}
.project-2 {
  grid-area: project-2;
}
.project-3 {
  grid-area: project-3;
}
.project-4 {
  grid-area: project-4;
}
.box {
  z-index: 10;
  position: relative;
  width: 54rem;
  height: 22rem;
  transition: transform 0.1s ease;
  will-change: transform;
  display: flex;
  transform-style: preserve-3d;
}
.img-box {
  width: 100%;
  height: 100%;
  margin-left: 8rem;
  filter: brightness(75%);
}
.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.project-info {
  position: absolute;
  bottom: 3rem;
  width: 12rem;
  height: 12rem;
  transform: translateZ(5rem); 
  /* outline: var(--blue) solid 10px;
  padding: 10px; */
}
.project-title {
  font-size: 2rem;
  color: #fff;
  z-index: 22;
}
.project-line {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 1rem 0;
}
.project-00 {
  font-size: 2rem;
  color: var(--lite-gray);
}
.project-arrow {
  color: white;
  font-weight: 700;
  transition: transform 0.4s;
}
.box:hover {
  cursor: pointer;
  /* outline: var(--blue) solid 10px;
  padding: 10px; */
}
.box:hover .img-box {
  transform: translateZ(12px);
  /* filter: brightness(10%); */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}
.box:hover .project-arrow {
  transform: translateX(1rem);
}
.about__section {
  min-height: 100vh;
  width: 100%;
  background-image: url("../public/assets/bg-about.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding: 0 3rem;
  overflow: hidden;
  z-index: 10;
  position: relative;
  max-height: min-content;
}
.codewrap {
  margin: 3rem 0;
  font-family: "Roboto Mono", monospace;
}
.code {
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  font-size: 1.6rem;
}
.code[data-line-nr="19"] {
  word-break: break-all;
  display: inline-flex;
  flex-wrap: wrap;
}

.White {
  color: white;
}
.Red {
  color: #ff6188;
}
.Cyan {
  color: #78dce8;
}
.Grey {
  color: grey;
}
.violet {
  color: #ab9df2;
}
.Yellow {
  color: #ffd866;
}
.dot {
  color: #78707e;
}
.comment {
  color: #78707e;
}
.White,
.Red,
.Cyan,
.Grey,
.violet,
.Yellow,
.dot,
.comment {
  display: inline;
  letter-spacing: 1px;
}
.code::after {
  content: attr(data-line-nr);
  color: #3b3452;
  letter-spacing: 1px;
  position: absolute;
  left: -6rem;
}
.code:hover::before {
  background-color: #383539;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 300%;
  z-index: -2;
}
.blink {
  display: inline-block;
  color: white;
  animation-name: blinks;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.contact__section {
  min-height: 100vh;
  width: 100%;
  background-color: var(--contact-background);
  padding: 0 3rem;
  overflow: hidden;
  z-index: 10;
  position: relative;
  min-height: min-content;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50rem;
  gap: 2rem;
}
.findmeon {
  color: white;
  font-size: var(--ff-size-25rem, 2.5rem);
  font-weight: 400;
}
.link-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  gap: 1rem;
}

.link-icon {
  width: 3rem;
  height: 3rem;
}
.link {
  font-family: "Roboto Condensed";
  font-size: 2rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.link:active,
.link:visited {
  color: var(--primary);
}
.link:hover,
.link:link {
  color: var(--blue);
}
.resume {
  width: 0;
  text-decoration: none;
}
.resume-btn,
.btn-2 {
  width: 18rem;
  height: 6rem;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #1593e3, #5918df);
  background-size: 1100%;
  border: none;
  border-radius: 50px;
  color: hsla(0, 0%, 100%, 0.9);
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 20px;
  line-height: 1;
  padding: 17px 35px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: scaleX(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.resume-btn .btn-2 {
  filter: blur(16px);
  right: 0;
  opacity: 0.8;
  position: absolute;
  transform: scale3d(0.9, 0.9, 1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    filter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 100%;
  z-index: -1;
}
.resume-btn {
  margin: 30px 0;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn-2 {
  background-position: 0 50%;
  bottom: 0;
}
.resume-btn:focus,
.resume-btn:hover {
  background-position: 100% 50%;
  bottom: 2px;
  transform: scale3d(1.1, 1.1, 1);
}

.resume-btn:focus .btn-2,
.resume-btn:hover .btn-2 {
  background-position: 100% 50%;
  bottom: -5px;
  filter: blur(25px);
}

.copyrigth {
  color: rgb(145, 142, 142);
  font-size: 1.4rem;
}
.copyrigth .copy-lessthan {
  color: var(--blue);
}

.image__gallery {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas: "tag-1 tag-2";
  background-color: var(--web-background);
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.imageStack {
  grid-area: tag-1;
  display: block;
  width: 100%;
  background-color: var(--about-background);
}
.imageStack-img {
  width: 100%;
}
.project__info {
  grid-area: tag-2;
  position: fixed;
  top: 0;
  width: 35%;
  height: 100vh;
  padding: 4rem;
  background-color: #0e0c16;
  overflow-y: auto;
  transform: translateX(100px);
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-name: Rigthin;
  animation-duration: 0.4s;
}
.image__gallery-navbar {
  justify-content: space-between;
}
.project__nav-link {
  font-size: var(--ff-size-2rem);
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nextprev {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextprev-btn {
  text-decoration: none;
  color: white;
  margin-inline: 1rem;
  position: relative;
}
.techStacks {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  color: gray;
}
.ff-size-4rem {
  margin: 3.5rem 0;
  font-size: 3rem;
}
.project-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: white;
  font-weight: 200;
}
.project-num {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-info-line {
  height: 2px;
  width: 80%;
  background-color: white;
}
.project-count {
  font-size: 2rem;
  color: white;
}
.toolkit {
  position: absolute;
  display: inline-block;
  font-size: 1.4rem;
  width: max-content;
  top: 4rem;
  opacity: 0;
  background-color: black;
  color: var(--blue);
  transition: opacity 0.3s;
}
.toolkit-next {
  right: -1rem;
}
.toolkit-prev {
  left: -1rem;
}
.project__nav-link:hover > .toolkit {
  opacity: 1;
}
.nextprev-btn:hover > .toolkit {
  opacity: 1;
}
.project__nav-link:hover > .toolkit {
  opacity: 1;
}
::selection {
  /* background-color: var(--primary); */
  background-color: var(--blue);
  color: white;
}
.user-selection-none {
  user-select: none;
}

@keyframes block-rev-block {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(calc(100% + 1px));
  }
}
@keyframes block-rev-block-2 {
  from {
    transform: translateX(calc(100% + 1px));
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes block-reveal-text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes glow {
  0% {
    background-color: var(--blue);
  }
  50% {
    background: rgb(157, 9, 252);
  }
  100% {
    background: rgb(99, 3, 161);
  }
}
@keyframes Rigthin {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes leftin {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes blinks {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
@media (max-width: 1023px) {
  :root {
    --ff-size-4rem: 3.5rem;
    --ff-size-2rem: 1.5rem;
    --ff-size-3rem: 2.5rem;
  }
}
@media (max-width: 860px) {
  :root {
    --ff-size-4rem: 3rem;
    --ff-size-2rem: 1rem;
    --ff-size-3rem: 2rem;
  }
  .navbar__options {
    display: none !important;
  }
  .hamburger-btn {
    display: initial;
  }
  .background-main {
    display: block;
  }
  .Start__section {
    background-position: center center;
  }
  .grid {
    grid-template-columns: 0.1fr 0.1fr 1fr;
    grid-template-areas:
      ". .project-0  "
      ". . project-1 "
      ". . project-2  "
      ". . project-3 "
      ". . project-4 ";
    place-items: center;
  }
  .box {
    width: 47rem;
    height: 19rem;
    transform: none !important;
    user-select: none;
  }
  .project__section {
    /* height: auto; */
    min-height: auto;
  }
  .about__section {
    background-size: cover;
    min-height: auto;
  }

  .dot {
    display: none;
  }
  .link-grid {
    grid-template-columns: initial;
  }
  .image__gallery {
    grid-template-columns: auto;
    grid-template-areas:
      "tag-2"
      "tag-1";
    min-width: 100%;
  }
  .project__info {
    position: initial;
    min-height: min-content;
    width: 100%;
  }
}
@media (max-width: 620px) {
  .Start__section {
    padding: 7rem 1rem;
  }
  .project__section {
    padding: 0rem 1rem;
  }
  .about__section {
    padding: 0rem 1rem;
  }
  .contact__section {
    padding: 0rem 1rem;
  }
  .link:active,
  .link:link {
    color: var(--primary);
  }
  .link:visited {
    color: var(--blue);
  }

  .row {
    padding-inline: 0;
  }
  .grid {
    margin-top: 7rem;
    row-gap: 5rem;
  }
  .box {
    width: 30rem;
    height: 13rem;
    transform: none !important;
  }
  .code {
    font-size: 1.6rem;
  }
}

@media (min-width: 1380px) {
   .w-100 {
    width: 60% !important;
  }
}
